/*-------------------------整体-----------------------------*/
body {
    position: relative;
    z-index: 1;
    background: linear-gradient(to top, #b19cd8, #e0bbe4);
    padding-top: 70px;
}

.container{
    width: 80vw;
}

/*面板宽度*/
.index_panel {
    width: 1110px;
    height: 100%;
}

/*宽松 加粗字体*/
.loose-bold-font {
    font-weight: bold;
    letter-spacing: 1px;
}

/*---------------------面板样式---------------------*/
.panel {
    background-color: rgba(255, 255, 255, 0.7);
}

.panel-heading {
    background-color: rgba(255, 255, 255, 0.7);
}


/*------------------------导航条样式------------------------*/
.navbar-default {
    border-radius: 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.8);
}

.dropdown-menu li:hover {
    background-color: rgba(0, 0, 0, 0.8); /* 黑色背景，50%的透明度 */
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

#navbutton .button {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}

#search-content {
    width: 300px;
}

/*-----------------------表格样式-----------------------*/
table {
    border-collapse: collapse;
}

table tr:hover {
    background-color: #f5f5f5; /* 鼠标悬停时的背景颜色 */
}

/*table td {*/
/*    border-left: 0.01px solid gray; !* 左边框 *!*/
/*    border-right: 0.01px solid gray; !* 右边框 *!*/
/*}*/

table td:not(:first-child),
table td:not(:last-child) {
    /*border-width: 10px;*/
    /*border-color: gray;*/
    border-left: 1px solid #ddd; /* 左边框 */
    border-right: 1px solid #ddd; /* 右边框 */
}

tr {
    height: 20px;
}

thead th {
    position: sticky;
    top: 0;
    background: #fff; /* 你可以根据需要更改背景颜色 */
    z-index: 10;
}

/*信息库手动用滚动*/
.scroll-list-table {
    height: 500px;
    overflow: auto;
    position: relative;
}

/*首页装饰用滚动*/
.scroll-index-table {
    height: 200px;
    overflow: auto;
    position: relative;
}

.scroll-index-table::-webkit-scrollbar {
    display: none; /* 隐藏滚动条 */
}

/*短信库格式*/
#fraud-msg-table th:nth-child(1) {
    width: 10%; /* 第一列的宽度 */
}

#fraud-msg-table th:nth-child(2) {
    width: 10%; /* 第二列的宽度 */
}

#fraud-msg-table th:nth-child(3) {
    width: 80%; /* 第三列的宽度 */
}

/*电话库格式*/
#fraud-phone-number-table th:nth-child(1) {
    width: 10%; /* 第一列的宽度 */
}

#fraud-phone-number-table th:nth-child(2) {
    width: 35%; /* 第二列的宽度 */
}

#fraud-phone-number-table th:nth-child(3) {
    width: 35%; /* 第三列的宽度 */
}

#fraud-phone-number-table th:nth-child(4) {
    width: 20%; /* 第四列的宽度 */
}
