{% extends "layout.html" %}

{% block title %}
    <title>
        涉诈网址
    </title>
{% endblock %}

{% block content %}
    <div style="margin-top: 40px" >
        <div class="container">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading" style="font-weight: bold;text-align: center">涉诈网址库</div>
                <div class="panel-body">
                    <p>
                        此处收录了从网路上收集到的涉诈网址，信息会进行自动更新，以保证数据的准确性。
                    </p>
                </div>

                <!-- Table -->
                <div class="scroll-list-table">
                    <table id="fraud-phone-number-table" class="table">
                        <thead>
                        <tr>
                            <th class="loose-bold-font" style="text-align: center">ID</th>
                            <th class="loose-bold-font" style="text-align: center">网站域名</th>
                            <th class="loose-bold-font" style="text-align: center">诈骗类型</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for web in websites %}
                            <tr>
                                <td style="text-align: center">{{ web.id }}</td>
                                <td style="text-align: center">{{ web.网站域名 }}</td>
                                <td style="text-align: center">{{ web.get_诈骗类型_display }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}