{% extends "layout.html" %}

{% block title %}
    <title>
        涉诈邮件
    </title>
{% endblock %}

{% block content %}
    <div style="margin-top: 50px">
        <div class="container">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading" style="font-weight: bold;text-align: center">
                    涉诈邮件库
                </div>
                <div class="panel-body">
                    <p>
                        此处收录了从网路上收集到的涉诈邮件，信息会进行自动更新，以保证数据的准确性,类型“1”为诈骗，类型“0”则为正常短信。
                    </p>
                </div>

                <!-- Table -->
                <div class="scroll-list-table">
                    <table id="fraud-email-table" class="table">
                        <thead>
                        <tr>
                            <th style="text-align: center">ID</th>
                            <th style="text-align: center">短信类型</th>
                            <th style="text-align: center">短信内容</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for msg in msgs %}
                            <tr>
                                <td style="text-align: center">{{ msg.id }}</td>
                                <td style="text-align: center">{{ msg.短信类别 }}</td>
                                <td>{{ msg.短信内容 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}