{% extends "layout.html" %}

{% block title %}
    <title>
        涉诈邮箱
    </title>
{% endblock %}

{% block content %}

    <div style="margin-top: 40px">
        <div id="table-container" class="container">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form method="get">
                        <div class="col-md-3" style="width: 300px">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">邮箱搜索</span>
                                <input type="text" name="semail" class="form-control"
                                       value="{{ filter_condition }}" placeholder="Search for...">
                            </div>
                        </div>
                        <button class="btn btn-primary filter-button"
                                type="submit" style="margin-top: 10px;margin-left: 45%">
                            筛 选
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading" style="font-weight: bold;text-align: center">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true" style="margin-right: 5px"></span>
                    涉诈邮箱库
                </div>
                <div class="panel-body">
                    <p>
                        此处收录了从网路上收集到的涉诈邮箱，信息会进行自动更新，以保证数据的准确性。
                    </p>
                </div>

                <!-- Table -->
                <div class="scroll-list-table">
                    <table id="fraud-phone-number-table" class="table">
                        <thead>
                        <tr>
                            <th class="loose-bold-font" style="text-align: center">ID</th>
                            <th class="loose-bold-font" style="text-align: center">电子邮箱地址</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in email_list %}
                            <tr>
                                <td style="text-align: center">{{ i.id }}</td>
                                <td style="text-align: center">{{ i.电子邮箱地址 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {#   分页器   #}
        <div class="container" id="pagination">
            <ul class="pagination">
                {{ page_str }}
            </ul>
        </div>

    </div>

{% endblock %}

{% block js %}
    <script>
        document.getElementById('jump-button').addEventListener('click', function (event) {
            var pageInput = document.querySelector('input[name="page"]');
            if (!pageInput.value.trim()) {
                event.preventDefault();
                alert('请输入页码！');
                return;
            }
            if (parseInt(pageInput.value) > parseInt({{ total_page }})) {
                event.preventDefault();
                alert('页码超出范围！');
                return;
            }
            if (parseInt(pageInput.value) < 1) {
                event.preventDefault();
                alert('页码超出范围！');
                return;
            }
            if (isNaN(parseInt(pageInput.value))) {
                event.preventDefault();
                alert('请输入数字！');
                return;
            }
            if (parseInt(pageInput.value) === parseInt({{ current_page }})) {
                event.preventDefault();
                alert('已是当前页！');
                return;
            }

        });
    </script>
{% endblock %}