{% extends 'layout.html' %}

{% block content %}

    {#页脚#}
    {#页头#}
    <div class="container">
        <div class="page-header">
            <h1>防诈态势感知系统 <small>Anti Fraud Situational Awareness</small></h1>
        </div>
    </div>

    {#第一层两个图表：柱状图、饼图#}
    <div id="pie and brain">
        <div class="container">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <!-- 形成图表 -->
                        <div id="myChart01" style="width: 100%;height:400px;"></div>
                        <script type="text/javascript">
                            var chartDom = document.getElementById('myChart01');
                            var myChart = echarts.init(chartDom);
                            var option;

                            option = {
                                title: {
                                    text: '分析维度图',
                                    {#left: 'right',#}
                                    {#top: 'bottom'#}
                                },
                                legend: {
                                    data: ['Allocated Budget', 'Actual Spending']
                                },
                                radar: {
                                    // shape: 'circle',
                                    indicator: [
                                        {name: 'Sales', max: 6500},
                                        {name: 'Administration', max: 16000},
                                        {name: 'Information Technology', max: 30000},
                                        {name: 'Customer Support', max: 38000},
                                        {name: 'Development', max: 52000},
                                        {name: 'Marketing', max: 25000}
                                    ]
                                },
                                series: [
                                    {
                                        name: 'Budget vs spending',
                                        type: 'radar',
                                        data: [
                                            {
                                                value: [4200, 3000, 20000, 35000, 50000, 18000],
                                                name: 'Allocated Budget'
                                            },
                                            {
                                                value: [5000, 14000, 28000, 26000, 42000, 21000],
                                                name: 'Actual Spending'
                                            }
                                        ]
                                    }
                                ]
                            };

                            option && myChart.setOption(option);
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <!-- 在这里放置第二个图表 -->
                        <div id="pieChart01" style="width: 100%;height:400px;"></div>
                        <script type="text/javascript">
                            // 基于准备好的dom，初始化echarts实例
                            var myChart = echarts.init(document.getElementById('pieChart01'));

                            // 指定图表的配置项和数据
                            option = {
                                title: {
                                    text: '信息库组成',
                                    subtext: '',
                                    left: 'center'
                                },
                                tooltip: {
                                    trigger: 'item'
                                },
                                legend: {
                                    orient: 'vertical',
                                    left: 'left'
                                },
                                series: [
                                    {
                                        name: 'Access From',
                                        type: 'pie',
                                        radius: '50%',
                                        data: [
                                            {value: {{ chart_data.0 }}, name: '电话号码'},
                                            {value: {{ chart_data.1 }}, name: '短信'},
                                            {value: {{ chart_data.2 }}, name: '网址'},
                                            {value: {{ chart_data.3 }}, name: '电子邮箱'},
                                        ],
                                        emphasis: {
                                            itemStyle: {
                                                shadowBlur: 10,
                                                shadowOffsetX: 0,
                                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                                            }
                                        }
                                    }
                                ]
                            };

                            // 使用刚指定的配置项和数据显示图表。
                            myChart.setOption(option);
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

{#    <div id="bar chart">#}
{#        <div class="container">#}
{#            <div class="panel panel-default">#}
{#                <div class="panel-body">#}
{#                    <!-- 形成图表 -->#}
{#                    <div id="phone_number_chart" style="width: 100%;height:200px;"></div>#}
{#                    <script type="text/javascript">#}
{#                        // 基于准备好的dom，初始化echarts实例#}
{#                        var myChart = echarts.init(document.getElementById('phone_number_chart'));#}
{##}
{#                        // 指定图表的配置项和数据#}
{#                        var option = {#}
{#                            title: {#}
{#                                text: '信息库占比',#}
{#                                left: 'center',#}
{#                                top: 'bottom'#}
{#                            },#}
{#                            tooltip: {},#}
{#                            legend: {#}
{#                                data: ['条数', '销量'],#}
{#                                selectedMode: 'single',#}
{#                            },#}
{#                            xAxis: {#}
{#                                data: ['电话号码', '短信', '网址']#}
{#                            },#}
{#                            yAxis: {},#}
{#                            series: [{#}
{#                                name: '条数',#}
{#                                type: 'bar',#}
{#                                barWidth: '50%',#}
{#                                data: {{chart_data}}#}
{#                            },#}
{#                                {#}
{#                                    name: '销量',#}
{#                                    type: 'bar',#}
{#                                    barWidth: '20px',#}
{#                                    data: [5, 20, 36]#}
{#                                }]#}
{#                        };#}
{##}
{#                        // 使用刚指定的配置项和数据显示图表。#}
{#                        myChart.setOption(option);#}
{##}
{#                        myChart.on('legendselectchanged', function (params) {#}
{#                            var newAxisData;#}
{#                            console.log(params);#}
{#                            if (params.name === '条数') {#}
{#                                newAxisData = ['电话号码', '短信', '网址'];#}
{#                            } else if (params.name === '销量') {#}
{#                                newAxisData = ['产品A', '产品B', '产品C'];#}
{#                            }#}
{#                            option.xAxis = {#}
{#                                data: newAxisData#}
{#                            }#}
{#                            myChart.setOption(option);#}
{#                        });#}
{#                    </script>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    
    
    {#第二层第三个图表#}
    <div id="tables">
        <div class="container">
            <div class="col-md-4" id="table01">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading" style="font-weight: bold;text-align: center">
                        <span class="glyphicon glyphicon-earphone" aria-hidden="true"
                              style="margin-right: 5px"></span>
                        诈骗电话号码
                    </div>
                    <!-- Table -->
                    <div class="scroll-index-table">
                        <table id="fraud-phone-number-table" class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>电话号码</th>
                                <th>电话类型</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in phone_number_slim %}
                                <tr>
                                    <td>{{ i.id }}</td>
                                    <td>{{ i.电话号码 }}</td>
                                    <td>{{ i.电话类型 }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading" style="font-weight: bold;text-align: center">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"
                              style="margin-right: 5px"></span>
                        诈骗电子邮箱
                    </div>
                    <!-- Table -->
                    <div class="scroll-index-table">
                        <table id="fraud-phone-number-table" class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>电子邮箱地址</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in email_slim %}
                                <tr>
                                    <td>{{ i.id }}</td>
                                    <td>{{ i.电子邮箱地址 }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading" style="font-weight: bold;text-align: center">
                        <span class="glyphicon glyphicon-signal" aria-hidden="true"
                              style="margin-right: 5px"></span>
                        诈骗网址
                    </div>
                    <!-- Table -->
                    <div class="scroll-index-table">
                        <table id="fraud-phone-number-table" class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>网址域名</th>
                                <th>诈骗类型</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in ip_slim %}
                                <tr>
                                    <td>{{ i.id }}</td>
                                    <td>{{ i.网站域名 }}</td>
                                    <td>{{ i.get_诈骗类型_display }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            index_scroll_table();
        });

        function index_scroll_table() {
            var scrollDiv = $('.scroll-index-table');
            var height = scrollDiv.prop('scrollHeight');
            var speed = 100000;  // 滚动速度，单位为毫秒

            function scrollToBottom() {
                scrollDiv.animate({scrollTop: height}, speed, function () {
                    scrollDiv.scrollTop(0);
                    scrollToBottom();
                });
            }

            scrollToBottom();
        }
    </script>
{% endblock %}