{% load static %}
{% load my_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>防诈态势感知</title>
    {% endblock %}
    <link rel="icon" href="{% static 'ico/安全可靠.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/customized.css' %}">
</head>
<body>
<script src="{% static 'js/echarts.js' %}"></script>
{#<script src="{% static 'js/customized.js' %}"></script>#}

{#导航条编写#}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/afsa/" style="color: #269abc;font-weight: bold">
                AFSA
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle loose-bold-font" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">涉诈信息库一览<span class="caret"></span></a>
                    <ul id="nav-left-drop" class="dropdown-menu">
                        <li><a href="/fraud_phone_number/" style="text-align: center" target="_blank">可疑电话库</a>
                        </li>
                        <li><a href="/fraud_msg/" style="text-align: center" target="_blank">可疑短信库</a></li>
                        <li><a href="/fraud_ip/" style="text-align: center" target="_blank">可疑网址库</a></li>
                        <li><a href="/fraud_email/" style="text-align: center" target="_blank">可疑邮箱库</a></li>
                    </ul>
                </li>
                <li><a class="loose-bold-font" href="/analysis_result/">历史分析</a></li>
            </ul>
            <form class="navbar-form navbar-center">
                <div class="input-group">
                    <input id="search-content" type="text" class="form-control"
                           aria-label="Text input with dropdown button">
                    <div class="input-group-btn" id="navbutton">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"
                                  style="margin-right: 5px"></span>
                            查 询
                            <span class="caret" style="margin-left: 5px"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#" class="button" onclick="updateType('phone')">
                                <span class="glyphicon glyphicon-earphone" aria-hidden="true"
                                      style="margin-right: 5px"></span>
                                可疑号码查询
                            </a></li>
                            <li><a href="#" class="button" onclick="updateType('email')">
                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"
                                      style="margin-right: 5px"></span>
                                可疑邮箱查询
                            </a></li>
                            <li><a href="#" class="button" onclick="updateType('ip')">
                                <span class="glyphicon glyphicon-signal" aria-hidden="true"
                                      style="margin-right: 5px"></span>
                                可疑网址查询
                            </a></li>
                            <li><a href="#" class="button" onclick="updateType('text_analysis')">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"
                                      style="margin-right: 5px"></span>
                                可疑文本分析
                            </a></li>
                        </ul>
                    </div><!-- /btn-group -->
                </div>

            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button id="instruction"
                            type="button"
                            class="btn btn-default btn-lg dropdown-toggle"
                            data-toggle="modal" data-target="#introductionModal"
                            style="background-color: transparent;border: none;font-size: 14px;font-weight: bold">
                        <span class="glyphicon glyphicon-question-sign"
                              aria-hidden="true"
                              style="margin-right: 5px;"
                        ></span>
                        使用说明
                    </button>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- 模态框（Modal） -->
<div class="modal fade" id="introductionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    使用说明（Instruction）
                </h4>
            </div>
            <div class="modal-body">
                使用说明
            </div>
            <div class="modal-footer">
                <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        关闭
                    </button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 搜索模态框（Modal） -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel" style="text-align: center">
                    搜索
                </h4>
            </div>
            <div class="modal-body">
                <form id="search-form">
                    <textarea type="text" class="form-control" id="navi-search" placeholder="请在此输入你的查询内容">
                    </textarea>
                </form>
            </div>
            <div class="table" style="text-align: center">
                <table id="ajax-output" style="margin-left: auto;margin-right: auto">
                    {#   去掉tbody就能用了？#}

                </table>
            </div>

            <div class="modal-footer">
                <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        关闭
                    </button>
                    <button id="start_analysis-btn" type="submit"
                            class="btn btn-success" form="search-form">
                        开始分析
                    </button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% block content %}
{% endblock %}

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
{#<script src="{% static 'js/jquery.min.js' %}"></script>#}

{% block js %}
{% endblock %}

<script>

    let currentType = ''; // 当前查询类型,全局变量

    // 从 cookie 中获取 csrftoken
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            let cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                let cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    let csrftoken = getCookie('csrftoken');

    // 当前查询类型更新
    function updateType(type) {
        currentType = type;
    }

    // 提交查询数据
    function submitData() {
        var stype = currentType;
        console.log(stype);
        // 获取输入框的值
        let input = $('#navi-search').val();


        $.ajax({
            url: '/analysis_result/',  // 你的提交数据的 URL
            type: 'POST',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            data: {
                stype: stype,
                input: input
            },
            dataType: "JSON",
            success: function (response) {
                // 处理服务器返回的响应
                console.log(response);
                if (stype === 'text_analysis') {
                    // 页面跳转
                    window.location.href = '/analysis_result/?input=' + input + '&stype=' + stype;
                }
                console.log("begin to show");
                $('#ajax-output').hide()
                $('#ajax-output').empty();
                for (var key in response) {
                    if (key === 'status') {
                        continue;
                    }
                    // 创建新的表格行
                    var row = '<tr>' +
                        '<td style="width: 30%">' + key + '</td>' +
                        '<td style="color: red;width: 80%">' + response[key] + '</td>' +
                        '</tr>';
                    console.log(row, typeof (row));
                    // 将新的表格行添加到表格中
                    $('#ajax-output').append(row);
                }
                $('#ajax-output').show();
            },
            error: function (error) {
                // 处理错误
                console.log(error);
            }
        });
    }
    

    $(document).ready(function () {

        // 绑定导航栏查询按钮的点击事件
        $('#navbutton .button').click(function () {
            // 获取当前点击的按钮的类型
            let buttonType = $(this).attr('onclick').split("'")[1];

            // 根据不同的按钮类型，生成不同的输入框
            switch (buttonType) {
                case 'phone':
                    $('#navi-search').replaceWith('<input type="tel" class="form-control" id="navi-search" placeholder="请在此输入你的电话号码">');
                    break;
                case 'email':
                    $('#navi-search').replaceWith('<input type="email" class="form-control" id="navi-search" placeholder="请在此输入你的邮箱地址">');
                    break;
                case 'ip':
                    $('#navi-search').replaceWith('<input type="text" class="form-control" id="navi-search" placeholder="请在此输入你的IP地址">');
                    break;
                case 'text_analysis':
                    $('#navi-search').replaceWith('<textarea class="form-control" id="navi-search" placeholder="请在此输入待分析文本"></textarea>');
                    break;
                default:
                    $('#navi-search').replaceWith('<input type="text" class="form-control" id="navi-search" placeholder="请在此输入你的查询内容">');
            }

            // 获取 search-content 输入框的值
            let inputValue = $('#search-content').val();

            // 设置模态框输入框的值
            $('#navi-search').val(inputValue);

            if (buttonType !== 'text_analysis') {
                $.ajax({
                    url: '/analysis_result/',  // 你的提交数据的 URL
                    type: 'POST',
                    data: {
                        stype: buttonType,
                        input: inputValue
                    },
                    dataType: "JSON",
                    success: function (response) {
                        // 处理服务器返回的响应
                        console.log(response);
                        $('#ajax-output').empty();
                        for (var key in response) {
                            if (key === 'status') {
                                continue;
                            }
                            // 创建新的表格行
                            var row = '<tr>' +
                                '<td style="width: 30%">' + key + '</td>' +
                                '<td style="color: red;width: 80%">' + response[key] + '</td>' +
                                '</tr>';
                            console.log(row, typeof (row));
                            // 将新的表格行添加到表格中
                            $('#ajax-output').append(row);
                        }

                        // 显示表格
                        $('#ajax-output').show();
                        
                    },
                    error: function (error) {
                        // 处理错误
                        console.log(error);
                    }
                })
            } else {
                // 清空表格
                $('#ajax-output').empty();
            }

            $('#searchModal').modal('show');
        });

        // 绑定查询按钮点击事件
        $('#toggle-trigger').click(function () {
            $('#dropdownMenu').dropdown('toggle');

        });

        // 绑定模态框搜索按钮点击事件
        $('#search-form').on('submit', function (event) {
            event.preventDefault();

            var type = currentType;

            submitData();
        });
    });


</script>

</body>
</html>